<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>안녕, {{ data.name }}</h1>
    <h2>로또번호: {{data.lotto}}</h2>
    <h2>랜덤 로또번호: {{ data.lotto_numbers }}</h2>
    <!-- 당첨 개수에 따라 메세지 표시 -->
    {% if data.common_count == 6 %}
        <h2>{{ data.common_count }}개 맞았습니다. 1등입니다!!</h2>
    {% elif data.common_count == 5 %}
        <h2>{{ data.common_count }}개 맞았습니다. 2등입니다!!</h2>
    {% elif data.common_count == 4 %}
        <h2>{{ data.common_count }}개 맞았습니다. 3등입니다!!</h2>
    {% elif data.common_count == 3 %}
        <h2>{{ data.common_count }}개 맞았습니다. 4등입니다!!</h2>
    {% else %}
        <h2>{{ data.common_count }}개 맞았습니다. 탈락입니다</h2>
    {% endif %}
    
</body>
</html>